.home {
	text-align: center;
	background-image: url("../../assets/home.svg");
	background-repeat: no-repeat;
	background-size: cover, auto;
	background-position: center;

	font-family:monospace;

	text-shadow: 1px 1px 5px #030713;
	color: white;
}

.home img {
	padding: 1.5rem;
}

.home img:hover {
	filter: drop-shadow(0 0 3rem #0c0b0e);
}

.home section {
	margin-top: 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.5rem;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

.loading_container {
	display: flex;
	justify-content: center;
	width: 100%;
}
.charactersList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
}