.header {
	display: flex;
	
	height: 6rem;

	background: linear-gradient(#0263b3, #00457e, #00457e, #0264ae);
	box-shadow: 0 0 10px #152035;
	z-index: 50;

	flex-direction: row;
	padding-left: 10em;
	padding-right: 10em;
}

.menu_items {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content:flex-end;
}

.menu_item {
	flex: 1;
	color: unset;
	text-decoration: none;
	
	padding-left: 1em;
	padding-right: 1em;
	
	font-weight: bold;
	font-size: larger;
	
	text-align: center;

	/**center text vertically*/
	display:flex;
	align-items: center;
	
	cursor: pointer;

	max-width: min-content;
}

.menu_item:hover,
.menu_item:active {
	background: #00000062;
	text-shadow: 0px 0px 3px #ffb42a;
	border-radius: 0.5em;
}

.logo {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
}

.logo h1 {
	padding: 0 0.5rem;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
}

@media (max-width: 639px) {
	.logo h1 {
		display: none;
	}
}

.header nav a.active {
	background: rgba(0, 0, 0, 0.4);
}
