:root {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: #c7c7c7;
	background: #1c1c1c;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
}

#app>main {
	display: flex;
	min-height: 100%;
	min-width: 100%;
	flex: 1;
}
#app>main>div {
	min-height: 100%;
	min-width: 100%;
}